$color-primary: #5068a9;
$color-secondary: #86a6df; // hsl(253, 40%, 97%);
$color-third: #324e7b; // hsl(253, 40%, 97%);
$color-bg: #f9f9f9; // hsl(253, 40%, 97%);

$color-degradado: linear-gradient(-225deg, #f8f8f8 0%, #d7eeff 100%);

$color-text: #f8f8f8;
$color-text-dark: #324e7b;

//Media Query
$tablet: 540px;
$notebook: 814px;
$laptop: 1025px;
$desk: 1500px;
